

div.iAnnEventTitleEven{

  word-wrap: break-word;
  width: 100%;
}

.iAnnEventBlockEven{

 background: #e8eeef;
 width: 100%;
 padding-bottom: 1px;
}

.iAnnEventBlockOdd{

 width: 100%;
 padding-bottom: 1px;
}

.iannEventList{

  width: 20%;
  background: #f4f7f8;
  padding: 10px 2px;
  margin: 1px auto;
  background: #f4f7f8;
  border-radius: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1.pane-title{

  color: #303;
  font-family: Georgia,"Times New Roman",Times,serif;
  width: 100%;
  text-align: center;
}


.iAnnEventTitleOdd {
  padding: 10px 0px 0px;
  width: 100%;
  text-align: center;
}

.iAnnEventTitleEven{
  padding: 10px 0px 0px;
  width: 100%;
  text-align: center;
}

.iAnnEventTitleOdd a, .iAnnEventTitleEven a{

  text-decoration: none;
  font-size: 110%; 
  color: black;
}

ul.blockInformation{

  padding: 1px;
  width: 100%;
  padding-left: 9px;
  text-align: center;
}

div.iannEventList li {

  display: block;
  color: #666;
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  padding-right: 15;
}

i.fa.fa-map-marker{

  padding-left: 8px;
}

ul.blockInformation i {

  font-size: 15px;
  padding: 5;
} 

ul.blockInformation span {

  font-size: 15px;
  padding-right: 20;
} 

div.more-link{

  position: relative;
  display: block;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  width: 120px;
  height: 30px;
  padding-top: 5px;
  margin-left: 1045px;
  margin-top: 5px;
  margin: 1px auto;
}

div.more-link a{
  
  text-decoration: none;
  color: #FFF;
}


